@{
    ViewData["Title"] = "SOC Map Generator";
}
<div class="text-center">
    <h1 class="display-4">SOC Map Generator</h1>
    <p>Work in Progress</p>
    <form>
        Name: <input type="text" />
        Description: <input type="text" />
        Player Count: <input type="text" />
    </form>
</div>